@import './variables.css';

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: .35rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: oklch(var(--text-color)/.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: oklch(var(--text-color)/.3);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: oklch(var(--text-color)/.2) transparent;
}

/* Hide main browser scrollbar */
html, body {
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: 'poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
.font-poppins{
    font-family: 'poppins-regular' !important;
}