:root{
--b1: 37 79% 94%;
--b2: 36 77% 90%;
--b3: 36 84% 85%;
--bc: 12 40% 10%;
--rounded-box: .5rem;
--rounded-btn: 1rem;
--bg1:21.7% 0.002 197.042;
--bg2:25% 0.003 196.966;
--bg3:36.6% 0.003 228.866;
--text-color:93% 0.003 106.451;
/* --primary-color:#1ED760 */
--primary-color: #e2e8f0
}